<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css">
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.js" defer></script>

    <style>

        [x-cloak] {
            display: none;
        }

        [type="checkbox"] {
            box-sizing: border-box;
            padding: 0;
        }

        .form-checkbox,
        .form-radio {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            -webkit-print-color-adjust: exact;
            color-adjust: exact;
            display: inline-block;
            vertical-align: middle;
            background-origin: border-box;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            flex-shrink: 0;
            color: currentColor;
            background-color: #fff;
            border-color: #e2e8f0;
            border-width: 1px;
            height: 1.4em;
            width: 1.4em;
        }

        .form-checkbox {
            border-radius: 0.25rem;
        }

        .form-radio {
            border-radius: 50%;
        }

        .form-checkbox:checked {
            background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M5.707 7.293a1 1 0 0 0-1.414 1.414l2 2a1 1 0 0 0 1.414 0l4-4a1 1 0 0 0-1.414-1.414L7 8.586 5.707 7.293z'/%3e%3c/svg%3e");
            border-color: transparent;
            background-color: currentColor;
            background-size: 100% 100%;
            background-position: center;
            background-repeat: no-repeat;
        }
        
        .form-radio:checked {
            background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='8' cy='8' r='3'/%3e%3c/svg%3e");
            border-color: transparent;
            background-color: currentColor;
            background-size: 100% 100%;
            background-position: center;
            background-repeat: no-repeat;
        }

		.required-error{
			color: red;
			font-size: 13px;
			margin: 5px 15px;
		}
    </style>
    <title>Droplet</title>
</head>

<body class="antialiased sans-serif bg-gray-200">
	
<form action="/dashboard" method="post">

	<div class="max-w-3xl mx-auto px-4 py-10">

		<div id="step1">

			<div class="border-b-2 py-4 mb-5">			
				<div class="flex flex-col md:flex-row md:items-center md:justify-between">
					<div class="flex-1">					
						<div class="text-lg font-bold text-gray-700 leading-tight">Your Store</div>					
					</div>
				</div>
			</div>
		
			<div class="mb-5 text-center">
				<div class="mx-auto w-32 h-32 mb-2 border rounded-full relative bg-gray-100 mb-4 shadow-inset">
					<img id="image" class="object-cover w-full h-32 rounded-full" :src="image" />
				</div>
				
				<label 
					for="fileInput"
					type="button"
					class="cursor-pointer inine-flex justify-between items-center focus:outline-none border py-2 px-4 rounded-lg shadow-sm text-left text-gray-600 bg-white hover:bg-gray-100 font-medium"
				>
					<svg xmlns="http://www.w3.org/2000/svg" class="inline-flex flex-shrink-0 w-6 h-6 -mt-1 mr-1" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
						<rect x="0" y="0" width="24" height="24" stroke="none"></rect>
						<path d="M5 7h1a2 2 0 0 0 2 -2a1 1 0 0 1 1 -1h6a1 1 0 0 1 1 1a2 2 0 0 0 2 2h1a2 2 0 0 1 2 2v9a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-9a2 2 0 0 1 2 -2" />
						<circle cx="12" cy="13" r="3" />
					</svg>						
					Browse Photo
				</label>

				<div class="mx-auto w-48 text-gray-500 text-xs text-center mt-1">Click to add store picture</div>

				<input name="photo" id="fileInput" accept="image/*" class="hidden" type="file" @change="let file = document.getElementById('fileInput').files[0]; 
					var reader = new FileReader();
					reader.onload = (e) => image = e.target.result;
					reader.readAsDataURL(file);">
			</div>

			<div class="mb-5">
				<label for="storename" class="font-bold mb-1 text-gray-700 block">Store Name</label>
				<input type="text"
					class="w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium"
					placeholder="Enter your store's name..." 
					id="storeName"
					name="storeName"
					onkeyup="checkEmpty()">
				<h6 id="errorPg1" class="required-error" style="display: none;">This field is required</h6>
			</div>

			<!-- Bottom Navigation -->	
			<div class="fixed bottom-0 left-0 right-0 py-5 bg-white shadow-md">
				<div class="max-w-3xl mx-auto px-4">
					<div class="flex justify-between">
						<div class="w-1/2"></div>
						<div id="buttonStep1Next" class="w-1/2 text-right">
							<button class="w-32 focus:outline-none border border-transparent py-2 px-5 rounded-lg shadow-sm text-center text-white bg-blue-500 hover:bg-blue-600 font-medium" 
							type="button"
							>Next</button>
						</div>
					</div>
				</div>
			</div>

		</div>


		<div id="step2" style="display: none;">

			<div class="border-b-2 py-4 mb-5">			
				<div class="flex flex-col md:flex-row md:items-center md:justify-between">
					<div class="flex-1">					
						<div class="text-lg font-bold text-gray-700 leading-tight">Tell me about your store</div>
					</div>					
				</div>
			</div>
		
			<div class="mb-5">
				<label for="storeInfo" class="font-bold mb-1 text-gray-700 block">About your Store</label>
				<input type="text"
					class="w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium"
					id="storeDescription"
					name="storeDescription"
					onkeyup="checkEmpty2()">
					<h6 id="errorPg2" class="required-error" style="display: none;">This field is required</h6>
			</div>

			<!-- Bottom Navigation -->	
			<div class="fixed bottom-0 left-0 right-0 py-5 bg-white shadow-md">
				<div class="max-w-3xl mx-auto px-4">
					<div class="flex justify-between">

						<div class="w-1/2">
							<button class="w-32 focus:outline-none py-2 px-5 rounded-lg shadow-sm text-center text-gray-600 bg-white hover:bg-gray-100 font-medium border" 
							id="btnStep2Prev"
							type="button"
							>Previous</button>
						</div>

						<div class="w-1/2 text-right">
							<button class="w-32 focus:outline-none border border-transparent py-2 px-5 rounded-lg shadow-sm text-center text-white bg-blue-500 hover:bg-blue-600 font-medium" 
							id="btnStep2Next"
							type="button"
							>Next</button>
						</div>

					</div>
				</div>
			</div>

		</div>

		
		<div id="step3" style="display: none;">

			<div class="border-b-2 py-4 mb-5">			
				<div class="flex flex-col md:flex-row md:items-center md:justify-between">
					<div class="flex-1">					
						<div class="text-lg font-bold text-gray-700 leading-tight">Tell me about your store</div>
					</div>					
				</div>
			</div>
		
			<div class="mb-5">
				<label for="storeType" class="font-bold mb-1 text-gray-700 block">Store Type</label>
				<input type="text"
					class="w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium"
					placeholder="eg. Clothing"
					id="storeType"
					name="storeType"
					onkeyup="checkEmpty3()">
					<h6 id="errorPg3" class="required-error" style="display: none;">This field is required</h6>
			</div>

			<!-- Bottom Navigation -->	
			<div class="fixed bottom-0 left-0 right-0 py-5 bg-white shadow-md">
				<div class="max-w-3xl mx-auto px-4">
					<div class="flex justify-between">

						<div class="w-1/2">
							<button class="w-32 focus:outline-none py-2 px-5 rounded-lg shadow-sm text-center text-gray-600 bg-white hover:bg-gray-100 font-medium border" 
							id="btnStep3Prev"
							type="button"
							>Previous</button>
						</div>

						<div class="w-1/2 text-right">
							<button class="w-32 focus:outline-none border border-transparent py-2 px-5 rounded-lg shadow-sm text-center text-white bg-blue-500 hover:bg-blue-600 font-medium" 
							id="btnStep3Next"
							type="button"
							>Complete</button>
						</div>

					</div>
				</div>
			</div>

		</div>


		<div id="complete" style="display: none;">
			<div class="bg-white rounded-lg p-10 flex items-center shadow justify-between">
				<div>
					<svg class="mb-4 h-20 w-20 text-green-500 mx-auto" viewBox="0 0 20 20" fill="currentColor">  <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"/></svg>

					<h2 class="text-2xl mb-4 text-gray-800 text-center font-bold">Registration Success</h2>

					<div class="text-gray-600 mb-8">
						Thank you. We have sent you an email to <%= signUpEmail %>. Please click the link in the message to activate your account.
					</div>
					
					

						<input type="hidden" name="signUpfName" value="<%= signUpfName %>">
						<input type="hidden" name="signUplName" value="<%= signUplName %>">
						<input type="hidden" name="signUpEmail" value="<%= signUpEmail %>">
						<button class="w-40 block mx-auto focus:outline-none py-2 px-5 rounded-lg shadow-sm text-center text-gray-600 bg-white hover:bg-gray-100 font-medium border" 
						type="submit"
						>Continue</button>
						
					
				</div>
			</div>
		</div>

	</div>

</form>

	


	<script>
		const buttonStep1Next = document.getElementById('buttonStep1Next');
		const step1 = document.getElementById('step1');
		const step2 = document.getElementById('step2');
		const storeName = document.getElementById('storeName');
		const errorPg1 = document.getElementById('errorPg1');

		buttonStep1Next.addEventListener('click', function(){

			if(storeName.value === ''){
				errorPg1.removeAttribute('style');
			}else{
				step1.style.display = 'none';
				step2.removeAttribute('style');
			}

		})


		const step3 = document.getElementById('step3');
		const btnStep2Next = document.getElementById('btnStep2Next');
		const btnStep2Prev = document.getElementById('btnStep2Prev');
		const storeDescription = document.getElementById('storeDescription');
		const errorPg2 = document.getElementById('errorPg2');

		btnStep2Prev.addEventListener('click', function(){
			step2.style.display = 'none';
			step1.removeAttribute('style');
		})

		btnStep2Next.addEventListener('click', function(){
			
			if(storeDescription.value === ''){
				errorPg2.removeAttribute('style');
			}else{
				step3.removeAttribute('style');
				step2.style.display = 'none';
			}

		})


		const complete = document.getElementById('complete');		
		const btnStep3Prev = document.getElementById('btnStep3Prev');
		const btnStep3Next = document.getElementById('btnStep3Next');
		const storeType = document.getElementById('storeType');
		const errorPg3 = document.getElementById('errorPg3');

		btnStep3Prev.addEventListener('click', function(){
			step3.style.display = 'none';
			step2.removeAttribute('style');
		})

		btnStep3Next.addEventListener('click', function(){
			
			if(storeType.value === ''){
				errorPg3.removeAttribute('style');
			}else{
				step3.style.display = 'none';
				complete.removeAttribute('style');
			}
		})





		function checkEmpty(){
			if(storeName.value === ''){
				errorPg1.removeAttribute('style');
			}else{
				errorPg1.style.display = 'none';
			}
		}
		function checkEmpty2(){
			if(storeDescription.value === ''){
				errorPg2.removeAttribute('style');
			}else{
				errorPg2.style.display = 'none';
			}
		}
		function checkEmpty3(){
			if(storeType.value === ''){
				errorPg3.removeAttribute('style');
			}else{
				errorPg3.style.display = 'none';
			}
		}

	</script>
</body>
</html>