 <!--FOOTER-->
 <footer>
    <div class="top_header">
        <section>
            <img style="margin-bottom: 5px;" src="https://i.postimg.cc/FFJCzwzY/icon-3.png" alt="">
            <h1 style="line-height: 0.6;" class="title">Newsletter</h1>
            <form>
                <fieldset>
                    <input type="email" name="email" placeholder="email address*" requried=""><button
                        class="btn2">subscribe</button>
                </fieldset>
            </form>
        </section>
    </div>
    <span class="border-shape"></span>
    <div class="bottom_content">
        <section>
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-telegram"></i></a>
        </section>
        <section>
            <a href="#">Home</a>
            <a href="#">About us</a>
            <a href="#">Order</a>
            <a href="#">Retail</a>
            <a href="#">Member</a>
            <a href="#">Contact Us</a>
        </section>
    </div>
    <div class="copyright">
        Copyright © 2021 websitename - All rights reserved
    </div>
</footer>


<!--ADDITIONAL-->
<a href="#" id="roll_back" class="animate"><i class="fa fa-angle-up"></i></a>




<!-- JAVASCRIPT -->
<!-- <script src="js/home.js"></script> -->

</body>

</html>